{% extends "base.html" %}
{%- block content %}
{{super()}}
<main class="container">
	<div class="box">
		<h1>Welcome to ego.re{% if current_user.is_authenticated %}, {{current_user.username}}{% endif %}!</h1>
		<hr>
		<h2>Who are we?</h2>
	</div>
	<!--
	<div class="columns">
		<div class="column quarter">
			<div class="box">
				<h1>text1</h1>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<h1>text1</h1>
			</div>
		</div>
	</div>
	-->
	<div class="columns">
		<div class="column third"><div class="box"><p class="description">Developers</p><img src="{{ url_for('.static',filename='img1.png')}}" /></div></div>
		<div class="break"></div>
		<div class="column third"><div class="box"><p class="description">Pepegas</p><img src="{{ url_for('.static',filename='pepega.png')}}" /></div></div>
		<div class="break"></div>
		<div class="column third"><div class="box"><p class="description">Gamers</p><img src="{{ url_for('.static',filename='pepepog.png')}}" /></div></div>
	</div>
</main>
{%- endblock content %}