{% extends "base.html" %}

{% block content %}
{{super()}}
<main class="container">
	<div class="box">
		{% if user.get_id() == current_user.get_id() %}
		<a href="{{url_for('upload_file')}}">Upload profile picture</a>
		{% endif %}
		<h1>{% if user.get_profile_img() %}
			<image src="{{ url_for('uploaded_file',foldername=user.get_hashed_name(),filename=user.get_profile_img_link()) }}">{% endif %}
			<text class="username_{{user.get_role()}}">{{user.username}}</text></h1>
		<hr>
		{% for post in posts %}
		<p class="post-text">
			{{ post.author.username }} posted: <b>{{post.file_name}}</b>
		</p>
		{% endfor %}
	</div>
</main>
{% endblock %}